
.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.bodi-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 36px;
}

.body-main-block__arrow {
  transform: rotate(-180deg);
}

.body-main-block__arrow.swiper-button-next,
.body-main-block__arrow.swiper-button-prev {
  margin-right: 40px;
  color: #718087;
}


