.deals {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 991.98px) {
  .deals {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .deals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.deals__header {
  margin-bottom: 50px;
}

.header-deals {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.header-deals__content {
  flex: 11 auto;
}

.heade-deals__title:not(:last-child) {
  margin-bottom: 15px;
}
.header-deals__text {
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.header-deals__link {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 17px;
  transition: all 300ms ease 0ms;
  font-weight: 500;
  padding: 22px 33px;
  border-radius: 5px;
  background: #f85a47;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02),
    0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03),
    0px 20px 13px 0px rgba(248, 90, 71, 0.04),
    0px 38.51852px 25.48148px 0px rgba(248, 90, 71, 0.04),
    0px 64.81481px 46.85185px 0px rgba(248, 90, 71, 0.05),
    0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}

@media (max-width: 767.98px) {
  .header-deals__link {
    width: 100%;
  }
}

.header-deals__link:hover {
  background-color: rgb(229, 53, 33);
}

.tabs-deals__nav {
  display: flex;
  column-gap: 50px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.tabs-deals__button {
  position: relative;
  font-size: 19px;
  line-height: normal;
  font-weight: 400;
  background-color: transparent;
  transition: color 300ms ease 0ms;
  color: inherit;
  cursor: pointer;
}

.tabs-deals__button:hover {
  color: #f85a47;
}

.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #f85a47;
  transition: all 300ms ease 0ms;
}

.tabs-deals__button:hover::after {
  width: 100%;
}

.tabs-deals__button.active {
  color: #f85a47;
}

.tabs-deals__button.active::after {
  width: 100%;
}

.tabs-deals__item {
  display: none;
}

.tabs-deals__item.active {
  display: block;
}

.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  gap: 6px;
  top: 14px;
  left: 14px;
}
.item-tabs__option {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  padding: 6px 12px;
  transition: background-color 300ms ease 0ms;
}
.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.item-tabs__image {
  position: relative;
  display: block;
  padding-bottom: 81%;
  border-radius: 5px;
  overflow: hidden;
}

.item-tabs__image:hover img {
  transform: scale(1.1);
}

.item-tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;

  transition: transform 300ms ease 0ms;
}
